@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-body);
  font-weight: 400;
  line-height: 1.4;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6{
  font-family: var(--font-body);
}